---
export interface Props {
    title: string
    description: string
    slug: string
    image?: string
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site)

const {
    title,
    description,
    slug,
    image = "/placeholder-social.jpg",
} = Astro.props

const basedURL = `${import.meta.env.BASE_URL}${slug}`
---

<li class="foo">
    <a href={basedURL}> {title}</a>
</li>
